.Home {

  //background-color: antiquewhite;
  //height: 100vh;
  //font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;

  .intro-section {
    position: center;
    text-align: center;

    .name {
      font-size: 50px;
      margin-top: 0;
    }

    .description {
      font-size: 20px;
    }
  }
}