.Work {
  .work-list {
    list-style: none;

    a {
      color: black;
    }
    li {
      padding: 50px 16px;
      display: block;
      background-color: darkgoldenrod;
      margin: 50px 16px;
      text-align: center;
      img {
        width: 30%;
      }
    }
  }
}